:root {
  @media (max-width: 1440px) {
    --container-width: 1400px;
  }
  --container-width: 1752px;
  --black: #121212;
  --green: #e7fe53;
  --dark: #1a1a1a;
  --lt-gray: #f1f1f1;
  --white: #fff;
}
