@import 'reset';
@import 'vars';
@import 'lib';
@import 'mixins';
@import 'fonts';
@import 'framework';
@import 'keyframes';

body {
  font-family: 'Heading-Now', sans-serif;
  font-weight: 400;
  font-size: em(16);
  min-width: 320px;
  background: var(--black);
  color: var(--white);
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: top 0.7s ease;
  z-index: 99;
  background: var(--black);
  font-size: 4em;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1140px) {
      transform: scale(0.5);
    }
  }
  &__text {
    overflow: hidden;
    display: flex;
    transition: width 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    @media (max-width: 1140px) {
    }
    &_letter {
      padding: 0 7px 0 0;
    }
    &_hidden {
      position: absolute;
      opacity: 0;

      &.active {
        position: relative;
        opacity: 1;
      }
    }
  }
  &__icon {
    transform: scale(-1, 1);

    &.active {
      transform: none;
    }
  }
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    padding: 48px 0;
    width: 100%;
    @media (max-width: 1600px) {
      padding: 40px 0;
    }
    @media (max-width: 1140px) {
      padding: 20px 0 22px 0;
    }
    .header__logo {
      width: 147px;
      @media (max-width: 1140px) {
        width: auto;
      }
      a {
        display: block;
      }
    }
    .header__info {
      font-weight: 350;
      font-size: em(16);
      font-family: 'Montserrat';
      .header__lang {
        position: relative;
        cursor: pointer;
        .lang__current {
          padding: 8px 21px;
          border-radius: 8px;
          color: var(--dk-gray);
          background: var(--dk-black);
        }
        .lang__list {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          background: rgb(65, 65, 65);
          z-index: 3;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          display: none;
          &.open {
            display: block;
          }
          .list__item {
            padding: 8px 0;
            text-align: center;
            a {
              color: inherit;
              text-decoration: none;
            }
          }
        }
      }
      .header__callback {
        margin: 0 0 0 24px;
        color: var(--green);
      }
    }
  }
  .main {
    flex: 1;
    z-index: 0;
    .card__wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content 1fr;
      grid-gap: 24px;

      @media (max-width: 1140px) {
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-gap: 12px;
      }
      .card__item {
        padding: 36px;
        background: var(--dark);
        border-radius: 8px;
        font-weight: 300;
        @media (max-width: 1140px) {
          padding: 24px;
          grid-column: auto !important;
          grid-row: auto !important;
        }
        .title__icon {
          margin: 0 0 25px 0;

          .item__title {
            margin: 0 0 0 12px;
            font-weight: 500;
            font-size: em(16);
          }
        }
        .item__description {
          font-family: 'Montserrat';
          line-height: 150%;
          font-size: em(18);
          &.description__links {
            .sep {
              color: #404040;
            }
            a {
              color: var(--green);
              display: inline-block;
            }
          }
          @media (max-width: 1600px) {
            br {
              display: none;
            }
          }
        }
        .location__wrapper {
          .location__item {
            margin: 0 0 20px 0;
            @media (max-width: 1600px) {
              margin: 0 0 12px 0;
            }
            .text {
              font-size: em(42);
              font-weight: 400;
              @media (max-width: 1600px) {
                font-size: em(32);
              }
              @media (max-width: 1260px) {
                font-size: em(30);
              }
              @media (max-width: 1024px) {
                font-size: em(16);
              }
            }
          }
        }
      }
      .card-1 {
        grid-column: 1 / span 5;
        grid-row: 1 / span 2;
        position: relative;
        z-index: 2;
        padding: 36px 36px 40px 36px;
        @media (max-width: 1600px) {
          grid-row: 1 / 3;
        }
        @media (max-width: 1140px) {
          padding: 24px;
        }
        &.active {
          &:before {
            height: 100%;
          }
        }
        &:before {
          content: '';
          width: 2px;
          height: 0%;
          z-index: -1;
          border-radius: 2px;
          position: absolute;
          transition: height 0.8s;
          left: 0;
          top: 0;
          background: var(--green);
        }
        .item__title {
          line-height: 143%;
          font-weight: 400;
          margin: 0 0 16px 0;
          font-size: em(42);
          @media (max-width: 1600px) {
            font-size: em(32);
          }
          @media (max-width: 1280px) {
            font-size: em(30);
          }
          @media (max-width: 1024px) {
            font-size: em(22);
          }
        }

        .list__wrapper {
          margin: 16px 0 0;
          font-family: 'Montserrat';
          @media (max-width: 1600px) {
            margin: 16px 0 0;
          }
          .list__title {
            font-weight: 500;
            font-size: em(16);
            margin: 0 0 26px 0;
            @media (max-width: 1600px) {
              margin: 0 0 20px 0;
            }
          }
          .list {
            .list__item {
              font-weight: 350;
              opacity: 0.9;
              margin: 0 0 18px 0;
              line-height: 175%;
              position: relative;
              padding: 0 0 0 30px;
              @media (max-width: 1600px) {
                margin: 0 0 19px;
              }

              &:last-child {
                margin: 0;
              }
              &:before {
                content: '';
                width: 18px;
                height: 18px;
                background: url(../images/list.svg);
                background-repeat: no-repeat;
                display: block;
                position: absolute;
                left: 0;
                top: 5px;
              }
            }
          }
        }
        .column__list {
          margin: 40px 0 0;
          .list__title {
            margin: 0 0 20px 0;
          }
          .list {
            font-family: 'Montserrat';
            .col {
              flex: 0 0 200px;
              margin: 0 40px 0 0;
              &:last-child {
                margin: 0;
              }
            }
            .list__item {
              line-height: 150%;
              margin: 0 0 12px 0;
            }
          }
        }
      }
      .card-2 {
        grid-column: auto / span 3;
        grid-row: 1;
        @media (max-width: 1600px) {
          grid-row: auto;
        }
      }
      .card-3 {
        grid-column: auto / span 6;
        grid-row: 1;
        @media (max-width: 1600px) {
          grid-row: auto;
        }
      }
      .card-4 {
        grid-column: auto / span 9;

        padding: 0;
        overflow: hidden;
        position: relative;
        @media (max-width: 1600px) {
          grid-row: auto;
        }
        @media (max-width: 1140px) {
          height: 212px;
          overflow: visible;
          margin: 0 0 62px 0;
        }
        .video__wrapper {
          position: relative;
        
          &:before {
            content: '';
            position: absolute;
            padding-bottom: 56.25%;
            left: 0;
            top: 0;
          }
          .inner__video {
            width: 100%;
            height: 100%;
          }
        }
        .item__button {
          font-family: 'Heading-Now-83', sans-serif;
          position: absolute;
          left: 50%;
          top: 50%;
          background: var(--green);
          z-index: 44;
          padding: 16px 36px;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          color: var(--dark);
          cursor: pointer;
          font-weight: 300;

          a {
            color: inherit;
            text-decoration: none;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              display: block;
            }
          }
          @media (max-width: 1140px) {
            padding: 12px 24px;
            font-size: em(14);
            bottom: -25%;
            top: auto;
            z-index: 2;
          }
          svg {
            position: relative;
            z-index: 88;
          }
          span {
            margin: 0 0 0 14px;
          }
        }
      }
    }
  }
  .footer {
    flex: 1;
    padding: 32px 0;
    @media (max-width: 1140px) {
      padding: 0 0 32px 0;
    }
    .container {
      @media (max-width: 1140px) {
        justify-content: flex-start;
      }
    }
    &__copyright {
      font-family: 'NeueMachina';
      span {
        opacity: 0.6;
        font-size: em(14);
      }
      .copyright__icon {
        margin: 0 8px;
      }
    }
  }
}
